.display{
    display: flexbox;
    float: left;
    padding-left: 100px;
    padding-right: 100px;
    
}
.inner{
    height: 300px;
    width : 300px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
}
img{
    height: 120px;
    width: 180px;
}